dynamic-spotlight.class {
	display: block;
	pointer-events: none;
	position: absolute;
	z-index: -1;
	transition:
		width 0.2s ease-in-out,
		height 0.2s ease-in-out,
		top 0.2s ease-in-out,
		left 0.2s ease-in-out;

	&[data-spotlight-kind="surface"] {
		background: var(--bg-soft-glass-2);
		backdrop-filter: blur(20px);
		border: 1px solid var(--bg-soft-glass-3);
		box-shadow: 0 1px 10px 1px var(--bg-shadow-2);
	}
	&[data-hidden-at-viewport-width="960"] {
		@media screen and (min-width: 960px) {
			display: none;
		}
	}
	&[data-hidden-at-viewport-width="1280"] {
		@media screen and (min-width: 1280px) {
			display: none;
		}
	}
	&[data-spotlight-kind="target"] {
		background: var(--bg-hard-2);
		border: 1px solid var(--hyperlink-color);
	}
}
